@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
  font-family: 'Roboto Mono', monospace !important;
}

input,
.calc-btn {
  font-size: 2rem !important;
}

.calc-btn {
  height: 4rem;
  width: 4rem;
}

.calculator-screen {
  height: 4rem;
  border: none;
  width: 16rem;
}

